{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}
<h1 class='text-2xl font-bold'> {% fname "blog" "" "" %}</h1>
<hr>

<h3 class='text-2xl'> {% fname "lista" "" "" %} <h3> 
<p> {% posts_counter %} -  simple tag </p>

<table class="table-auto">
  <thead>
    <tr>
      <th class="px-4 py-2"> {% fname "titulo" "" "" %}</th>
      <th class="px-4 py-2 ">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for post in posts %}
    <tr class="h-14"> 
        <td> 
            <a href="{% url 'blog:detail' post.id %}">
                <p class='text-xl text-base font-light leading-relaxed mt-0 mb-4 text-pink-800'> 
                    {% fname 'post_titulo' 'title_post' post.title %}
                </p>
            </a>
        </td>
        <td class="ml-2">
            
                <a class="ml-2 bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{% url 'blog:update' post.id %}">{% fname "Editar" "" "" %}</a> 
            
                <a class="ml-2 bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded" href="{% url 'blog:delete' post.id %}">{% fname "Borrar" "" "" %}</a>
            
        </td>
    </tr>
{% endfor %} 
  </tbody>
</table> 
<div class="mt-8">
    <a class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow" href="{% url 'blog:create' %}">{% fname "Nuevo_post" "" "" %}</a>
</div>
{% endblock content %}