{% extends 'base.html' %}

{% load custom_tags %}

{% block content %}
<h1>{% fname "crear_form" "" "" %}</h1>
<hr>
<form method='POST'>
    {% csrf_token %}
    {{form.title.label_tag}} 
    <br>
    {{form.title}}
    <br>
    {{form.content.label_tag}} 
    <br>
    {{form.content}}
    <br>
    <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='submit'>{% fname "enviar" "" "" %}</button>

    <button class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='text'> 
        <a href="{% url 'blog:home' %}">{% fname "volver" "" "" %}</a>
    </button>
</form>
{% endblock content %}