{% extends 'base.html' %}
{% load i18n %}
{% load custom_tags %}

{% block content %}
<h1>{% fname "crear_form" "" "" %}</h1>
<hr>
<form method='POST'>
    {% csrf_token %}
    {% fname "crear-label" "label" form.title.label_tag %}  
    <br>
    {{ form.title }}
    <br>
    {% fname "crear-label" "label" form.content.label_tag %}
    <br>
    {{ form.content }}
    <br>
    <button class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='submit'>{% fname "enviar" "" "" %}</button>

    <button class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type='text'> 
        <a href="{% url 'blog:home' %}">{% fname "volver" "" "" %}</a>
    </button>
    <input type='text' {% fname 'place' '' '' %} placeholder/>
    {% get_current_language as LANGUAGE_CODE %}
    <h1>{% fname 'activity-title' 'leng' LANGUAGE_CODE %}</h1>
    
</form>
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select name="language">
        
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>
{% endblock content %}